body {
    padding: 0;
    margin: 0;
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {  
    width: 3em;
    height: 3em;
    background-image: url("https://i.imgflip.com/58r9dj.jpg");
    border-radius: 50%;
    margin-left: 2em;
}

.list-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    margin-right: 2em;
} 

.item {
    display: inline-block;
    padding: 1.25em;
    cursor: pointer;
}

.tab:hover {
    background-color: black;
    color: white;
}

footer {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
}

.links {
    border: 1px solid black;
}

.link {
    padding: 0.25em;
}

#home-container {
    display: flex;
    justify-content: center;
}

#display-picture {
    float: left;
    height: 22em;
    width: 16em;
    margin: 3em;
}

#biography {
    display: inline-block;
    border: 1px solid black;
    height: 22em;
    width: 44em;
    margin: 3em;
}