#sports-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#sports-wrapper img {
    flex-grow: 1;
    height: 15em;
    border: 1px solid black;
    cursor: pointer;
}

#sports-wrapper img:hover {
    border: 1px solid #87cefa;
}

#sports-wrapper img:last-child {
    flex-grow: 10;
    cursor: auto;
}

#sports-wrapper img:last-child:hover {
    border: 1px solid black;
}

#sports-wrapper .imageActive {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25em;
    border: 25px solid transparent;
    border-image-slice: 27 27 27 27;
    border-image-width: 25px 25px 25px 25px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
}