#quotes-wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quote-block {
    border: 1px solid black;
    width: 50%;
    display: flex;
    align-items: center;
}

.quote-block button {
    width: 10em;
    height: 5em;
}

.quote-wrapper {
    
}

.quote-block p {
    margin: 0 2em;
}

.previous-quote {
    
}

.next-quote {
    
}

.quote-categories {
    border: 1px solid black;
}

.quote-categories ul {

}

.quote-categories ul li {
    cursor: pointer;
}