#quotes-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.quote-block {
    width: 50%;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.quotation-mark {
    height: 32px;
    width: 32px;
    position: relative;
    top: 32px;
    right: 40px;
}

.quote-block .button {
    height: 40px;
    width: 35em;
    cursor: pointer;
    background-repeat: no-repeat;
}

.quote-block .button:active {
    filter: brightness(40%);
}

.quote-block .previous-quote {
    transform: scaleX(-1);
}

.quote-wrapper {
    padding: 0em 3em;
}

.quote-text {
    font-size: larger;
}

.quote-speaker {
    font-weight: 600;
}

.quote-categories {
    font-family: 'Roboto', sans-serif;
}

#choose-category {
    cursor: default;
    margin: 30px 0;
    font-size: larger;
    font-weight: 700;
    color: #000C66;
}

.quote-categories ul {
    list-style-type: none;
    padding: 0;
}

.quote-categories ul li {
    border: 1px solid #000C66;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5em 0em;
    margin: 5px;
    text-align: center;
    background-color: white;
    color: #000C66;
    font-weight: 600;
    transition: 0.1s all ease-out;
}

.quote-categories ul li:hover {
    background-color: #000C66;
    color: white;
}

.quote-categories ul li:active {
    background-color: white;
    color: #000C66;
}