#project-image {
    background-color: #7d7d7d;
    width: 90%;
    max-width: 90%;
    height: auto;
    padding: 5px 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#project-caption {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}