#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#display-picture {
    float: left;
    height: 22em;
    width: 16em;
    margin: 3em;
    border-radius: 1em;
    border: 2px solid #000C66;
    object-fit: cover;
}

#greeting {
    margin-bottom: 1em;
    font-size: 48px;
    color: #87cefa;
}

#biography {
    display: inline-block;
    height: 22em;
    width: 44em;
    margin: 3em;
    white-space: pre;
    color: #000C66;
    font-family: 'Roboto', sans-serif;
    font-weight: 525;
    font-size: 18px;
}

#projects-container {
    position: relative;
    overflow-x: hidden;
    display: flex;
}

#quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 100%;
    background-color: #87cefa;
}

@media (max-width: 428px) {
    #home-container {
        flex-direction: column;
    }

    #display-picture {
        width: 12em;
        height: 16em;
        margin: 0;
        margin-top: 2em;
    }

    #greeting {
        font-size: 30px;
        margin-bottom: 0.5em;
    }

    #biography {
        font-size: 16px;
        width: 20em;
        height: 30em;
        margin: 2em 0;
    }

    #quotes-container {
        height: auto;
    }
}