#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#display-picture {
    float: left;
    height: 22em;
    width: 16em;
    margin: 3em;
}

#biography {
    display: inline-block;
    border: 1px solid black;
    height: 22em;
    width: 44em;
    margin: 3em;
}

#projects-container {
    position: relative;
}