#project-image {
    background-color: #7d7d7d;
    width: 90%;
    max-width: 90%;
    height: auto;
    padding: 5px 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    position: relative;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.75s;
}

@keyframes slideIn {
     from {
         left: -100%;
     }
     to {
        left: 0;
     }
}

.slideOut {
    animation-name: slideOut;
    animation-duration: 0.75s;
}

@keyframes slideOut {
     from {
         left: 0;
     }
     to {
        left: 100%;
     }
}

#project-caption {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
    font-family: 'Roboto', sans-serif;
}

#project-caption:hover {
    color: #87cefa;
    border: 1px solid #87cefa;
}