header {
    border: 1px solid black;
    background-color: #000C66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}

.hide-header {
    transform: translate3d(0, -100%, 0);
}

.tab {
    background-color: #000C66;
    color: white;
    transition: 0.3s;
    width: 5em;
    height: 30px;
    line-height: 30px;
    padding: 1em;
}

.tab:hover {
    background-color: white;
    color: #000C66;
}