html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#page {
    height: 100%;
}

.icon {  
    width: 3em;
    height: 3em;
    background-image: url("https://i.imgflip.com/58r9dj.jpg");
    border-radius: 50%;
    margin-left: 2em;
}

.list-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    margin-right: 2em;
} 

.item {
    display: inline-block;
    padding: 1.25em;
    cursor: pointer;
}

main {
    height: 100%;
}