.project-description {
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    position: sticky;
    top: 2.5%;
}

.project-pictures {
    width: 60%;
    margin-left: 37.5%;
}

.project-pictures img {
    max-width: 100%;
    display: block;
    margin-bottom: 3em;
}